.class-inner-padding{
    padding: 13px!important;
}
body{
    background-color: aliceblue;
}
.nav-main-submenu .nav-main-link.active, .nav-main-submenu .nav-main-link:focus, .nav-main-submenu .nav-main-link:hover ,.nav-main-link.active {

    /* color : red */
    color : rgba(50, 53, 93, 0.9);
}

.qr-modal-body svg{
    height: 300px;
    width: 300px;
}




  .text-purple{
    color: rgba(50, 53, 93, 0.9);
  }
  .btn-purple{
    background-color: rgba(50, 53, 93, 0.9);
    color: white;
  }
  .btn-purple:hover{
    background-color: rgba(50, 53, 93, 0.9);
    color: white;
  }
  .active>.page-link, .page-link.active {
        background-color: rgba(50, 53, 93, 0.9);
        border-color: rgba(50, 53, 93, 0.9);
        color: white;
    }
    .page-link {
        color: black;
    }
  .dataTables_filter  label{
        color: white;
    }
    .form-control{
        height: 40px;
    }
    .dt-button:hover{
        background-color: rgba(50, 53, 93, 0.9);
        color: white;
    }




